
$gray-color: #B0B7C0;
$white-color: #fff;
$orange-color: #f8e1af;
$black-color: #000000;
$darkgray-color: #5a5a5a;
$red-color: #ff0000;
$white-color-transparent: rgba(255, 255, 255, 0.7);
$blue-color-transparent: rgba(180, 210, 255, 0.7)